node_modules/
dist/
coverage/
.cache/
.tmp/
temp/
*.log
*.tgz
*.zip
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
*.rej

# TypeScript build info
*.tsbuildinfo

# Yarn / npm / pnpm
.yarn/
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npmrc
